{
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {},
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "standard",
    "promise",
    "import"
  ],
  "rules": {
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-nesting": 1
  },
  "extends": ["standard", "eslint:recommended"]
}
