@import '../../scss/options';

// TODO: Add active state with focus on actions

.form-field {
  display: block;

  &_size {
    &_small {
      @extend %text--small;
    }

    &_medium {
      @extend %text--medium;
    }

    &_normal {
      @extend %text--normal;
    }

    &_big {
      @extend %text--big;
    }
  }

  &_type {
    &_text {

    }

    &_email {

    }

    &_password {

    }

    &_image {
      .form-field__field {
        flex-direction: column;
        align-items: center;
      }

      .form-field__input {
        display: none;
      }

      .form-field__placeholder {
        position: initial;
        box-sizing: border-box;
        display: block;
        margin: $x auto $x auto;
        padding: $x * 4;
        width: $x * 15;
        height: $x * 15;
        border-radius: 50%;
        background-color: $color--background_white;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: auto;
        cursor: pointer;
        transition: background-color $transition, color $transition;

        &:hover {
          background-color: $color--input_hover_background;
        }

        .form-field:first-child & {
          margin-top: -$x;
        }

        & > * {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .form-field__action {
        margin: $x * 2 auto;
        cursor: pointer;

        .form-field:last-child & {
          margin-bottom: 0;
        }
      }
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: $x / 2 auto;
  }

  &__input,
  &__placeholder {
    display: block;
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

  &__input {
    flex-grow: 1;
    padding: $x * 3.25 $x * 2 $x / 2 $x * 2;
    width: auto;
    border: none;
    background-color: transparent;
    opacity: 0;
    z-index: 1;
    outline: none;
    transition: opacity $transition;

    &::placeholder {
      opacity: 0;
    }

    &:-webkit-autofill {
      border: none;
      -webkit-text-fill-color: $color--text_black;
      -webkit-box-shadow: 0 0 0 100px $color--background_white inset;
    }

    .form-field__field:hover > &[value=""]:not(:focus),
    &:focus,
    &:not([value=""]) {
      color: $color--text_black;
    }

    &:focus,
    &:not([value=""]) {
      opacity: 1;
    }
  }

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: $x * 2 $x * 2 $x * 1.75 $x * 2;
    color: $color--input_text;
    z-index: 1;
    pointer-events: none;
    transition: color $transition,
    padding-top $transition,
    font-size $transition,
    line-height $transition;

    .form-field__field:hover > .form-field__input[value=""]:not(:focus) ~ &,
    .form-field__input:focus ~ &,
    .form-field__input:not([value=""]) ~ & {
      color: $color--text_black;
    }

    .form-field__input:focus ~ &,
    .form-field__input:not([value=""]) ~ & {
      @extend %text--small;

      padding-top: $x;
      font-weight: bold;
    }
  }

  &__action {
    &:not(.button) {
      @extend %text--none;

      display: block;
      padding: $x * 2 $x * 2 $x * 1.75 $x * 2;
      width: $x * 2.75;
      height: $x * 2.75;
      outline: none;
      transition: color $transition;

      &:not(:hover):not(:active):not(:focus),
      &:link:not(:hover):not(:active):not(:focus),
      &:visited:not(:hover):not(:active):not(:focus) {
        color: $color--input_action;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color--text_black;
      }
    }

    flex-shrink: 0;
    margin: 0;
    z-index: 1;

    .form-field_type_password > .form-field__field:not(.form-field__field_shown) > &_show .on {
      display: none;
    }

    .form-field_type_password > .form-field__field.form-field__field_shown > &_show .off {
      display: none;
    }
  }

  &__tooltip {
    @extend %text--small;

    position: absolute;
    display: block;
    top: 50%;
    left: 100%;
    margin-left: $x * 2;
    pointer-events: none;

    &__body {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $x;
      border-radius: $x / 2;
      border: 1px solid transparent;
      background-color: transparent;
      transform: translateY(-50%);
      color: $color--white;

      .form-field__tooltip_type_success & {
        background-color: $color--green;
      }

      .form-field__tooltip_type_warning & {
        background-color: $color--yellow;
      }

      .form-field__tooltip_type_danger & {
        background-color: $color--red;
      }

      .form-field__tooltip_type_info & {
        background-color: $color--blue;
      }

      &:before {
        content: $content--space;
        position: absolute;
        display: block;
        top: 50%;
        right: 100%;
        height: 0;
        width: 0;
        margin-top: -$x;
        border: $x solid transparent;

        .form-field__tooltip_type_success & {
          border-right-color: $color--green;
        }

        .form-field__tooltip_type_warning & {
          border-right-color: $color--yellow;
        }

        .form-field__tooltip_type_danger & {
          border-right-color: $color--red;
        }

        .form-field__tooltip_type_info & {
          border-right-color: $color--blue;
        }
      }
    }

    &__icon {
      @extend %text--none;

      display: block;
      box-sizing: border-box;
      flex-shrink: 0;
      margin: auto $x * 1.5 auto $x / 2;
      padding: $x / 2 - 1;
      width: $x * 3;
      height: $x * 3;
      border-radius: 50%;
      border: $x / 4 solid currentColor;
    }

    &__text {
      display: block;
      width: $x * 29;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $x / 2;
    border: 1px solid transparent;
    background-color: $color--background_white;
    z-index: 0;
    pointer-events: none;
    transition: background-color $transition;

    .form-field__field:hover > .form-field__input[value=""]:not(:focus) ~ & {
      background-color: $color--input_hover_background;
    }
  }

  &__description {
    @extend %text--small;

    display: block;
    margin: $x * 2 auto 0 auto;

    .form-field:last-child & {
      margin-bottom: $x * 2;
    }
  }
}