@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Thin.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Thin.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Thin.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-ThinItalic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-ThinItalic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-ThinItalic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Light.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Light.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Light.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-LightItalic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-LightItalic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLight.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLight.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLightItalic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Regular.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Regular.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Regular.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Italic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Italic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Italic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Medium.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Medium.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Medium.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-MediumItalic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Bold.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Bold.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Bold.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BoldItalic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBold.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBold.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBold.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBold.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBoldItalic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBoldItalic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBoldItalic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-UltraBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Black.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Black.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Black.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BlackItalic.eot");
  src: url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("eot"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("../../fonts/Helvetica_Neue_Cyr/HelveticaNeueCyr-BlackItalic.ttf") format("truetype"); }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal; }

html, body, input, textarea, select, button {
  font-size: 1em;
  line-height: 1.2em; }

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  width: 1px;
  height: 1px; }

svg {
  fill: currentColor;
  color-interpolation-filters: sRGB; }

a {
  color: inherit; }

figure {
  margin: 0; }

.components-base-control__field .zabit-field__input_text,
.components-base-control__field .zabit-field__input_textarea {
  width: 100%; }

.zabit-field__value {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid #ddd;
  width: 350px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  color: #32373c;
  background-color: #f1f1f1;
  outline: 0;
  transition: outline 50ms ease-in-out, color 50ms ease-in-out, border-color 50ms ease-in-out, box-shadow 50ms ease-in-out, background-color 50ms ease-in-out; }
  .field-icon ~ .zabit-field .zabit-field__value {
    width: 60px; }
  .components-base-control__field .zabit-field__value {
    width: auto;
    max-width: 100%; }
  .zabit-field_empty .zabit-field__value {
    display: none; }
  .zabit-field__value:hover, .zabit-field__value:focus {
    background-color: #fff;
    color: #124964;
    border-color: #5b9dd9;
    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
    outline: 1px solid transparent; }
  .zabit-field__value__img {
    display: block;
    max-width: 100%;
    margin: auto; }

.zabit-field__actions {
  display: block;
  font-size: 0;
  line-height: 0; }

.zabit-field__action {
  display: inline-block;
  margin: 2px;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  outline: none;
  color: #72777c;
  transition: color 50ms ease-in-out; }
  .zabit-field__action:first-child {
    margin-left: 0; }
  .zabit-field__action:last-child {
    margin-right: 0; }
  .zabit-field__action:hover {
    color: #23282d; }
  .zabit-field__action:focus {
    color: #124964;
    box-shadow: none;
    outline: none; }
  .zabit-field__action:before {
    border-radius: 50%;
    text-indent: -1px;
    font: normal 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .zabit-field__action_add:before {
    content: "\f132"; }
  .zabit-field_value .zabit-field__action_add {
    display: none; }
  .zabit-field__action_add-image:before {
    content: "\f128"; }
  .zabit-field__action_add-url:before {
    content: "\f103"; }
  .zabit-field__action_edit:before {
    content: "\f463"; }
  .zabit-field_empty .zabit-field__action_edit {
    display: none; }
  .zabit-field__action_remove:before {
    content: "\f158"; }
  .zabit-field_empty .zabit-field__action_remove {
    display: none; }

#fights.postbox .inside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #fights.postbox .inside > * {
    width: calc(100% / 3); }

/*# sourceMappingURL=admin.css.map */
