$color--white: #fff;
$color--black: #323232;

$color--gray1: #6b6b6b;
$color--gray2: #9a9a9a;
$color--gray3: #c9c9c9;
$color--gray4: #f5f5f5;

$color--red1: #ed5749;
$color--red2: #e45446;
$color--red3: #f26a5e;

$color--yellow1: #ffc328;
$color--yellow2: #fbbe21;
$color--yellow3: #fdd33d;
$color--yellow4: #ffe090;
$color--yellow5: #fff4d7;
$color--yellow6: #fdf6e2;

$color--green1: #68cf6d;
$color--green2: #85da89;
$color--green3: #8cdc8f;
$color--green4: #caebcb;

$color--blue1: #6fa1ec;
$color--blue2: #628ed1;
$color--blue3: #86b0ef;
$color--blue4: #bfd5f7;
$color--blue5: #eaf0f8;

$color--light_blue1: #eef4fd;
$color--light_blue2: #f3f7fd;

$color--purple1: #e44c99;
$color--purple2: #d94691;
$color--purple3: #f4d3e4;
$color--purple4: #f7e5ee;
$color--purple5: #fceaf3;
$color--purple6: #fbf2f7;
