@import '../options';

.heading {
  display: block;
  margin: $x * 5 auto;
  font-weight: 500;
  text-align: center;
  text-transform: lowercase;

  @include adaptation(desktop-l) {
    font-size: 40px;
    line-height: 56px;
  }

  @include adaptation(desktop-s) {
    font-size: 34px;
    line-height: 41px;
  }

  @include adaptation(tablet-l) {
    font-size: 22px;
    line-height: 26px;
  }

  @include adaptation(mobile-l) {
    font-size: 34px;
    line-height: 41px;
  }

  @include adaptation(mobile-s) {
    font-size: 34px;
    line-height: 41px;
  }
}