@import '../options';

.background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  filter: #{grayscale(100%)};

  &_left,
  &_right,
  &_news {
    height: 100%;
  }

  &_full {
    height: 100%;
  }

  &_static {
    max-height: 100%;
  }

  &__gradient {
    transform-origin: 50% 50%;
    transform: scaleX(-1);
  }
}